.Page {
    width: 100%;
    height: 100vh;
    padding: 60px 80px;
    background: url(/static/main-bg.webp) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}

.updatedBannerVisible {
    height: calc(100vh - var(--navbar-heigth) - var(--updated-toast-heigth));
}

@media (width < 1010px) {
    .Page {
        padding: 30px;
    }

}

@media (width < 500px) {
    .Page {
        padding: 10px 30px;
    }

}