:root {
    --bg-color: #FFF;
    --inverted-bg-color: #e8e8ea;
    --input-bg:  #F2E6FE;
    --input-hover-bg: #dfb4ff;

    // текст
    --primary-color: #383838;
    --second-text-color: #828282;
    --input-text-color: #383838;

    // цвета
    --btn-bg-color: #8F4BD8
}
